# Python Basics - Session 1

### "Hello World" Program

In [1]:
print("Hello World")

Hello World

### Python as a Calculator

In [2]:
24*56+89

1433

### Comments

One line comments are denoted by <font color='red'><b>#</b></font> at the start of line<br/>

In [4]:
# Single line comment
print("aa")
'''First line
secong line
third line'''
print("bb")

aa
bb

## Variables

+ A variable is a name that refers to a value.
+ No declaration required
+ Variables must be assigned before being referenced.
+ The value stored in a variable can be accessed or updated later.
+ No need to specify <b>type</b> to a variable; Python automatically assigns.
+ Must begin with a letter (a - z, A - Z) or underscore (_)
+ Case Sensitive
+ Can be any (reasonable) length
+ There are some reserved words which you cannot use as a variable name because Python uses them for other things.

In [5]:
x = 5

In [6]:
type(x)

int

In [7]:
x = 5.9

In [8]:
type(x)

float

In [9]:
x = "aa"

In [10]:
type(x)

str

### Multiple assignments

In [11]:
x, y, z = 2,3,4
print(x,y,z)
out = x+y+z
print(out)

2 3 4
9

In [15]:
x = 10
print(x)
y = 20
print(y)

10
20

In [16]:
a1 = a2 = a3 = 10
print(a1,a2,a3)

10 10 10

## Data Types & Data Structures

+ Built-in data types:<br/>
<b>Integer, Floating point, String, Boolean Values</b>

+ Additional data structures:<br/>
<b>Lists, Dictionary, Sets & Tuples</b>

- Here in the below piece of code you can see that we have assigned each variable with a particular value and use the type method we can check the datatype of the variable

In [17]:
int_1 = 23
float_num = 1.3
string = "blue"
boolean = True

print(type(string))
print(type(boolean))

<class 'str'>
<class 'bool'>

### Setting data type or typecasting

**Data type conversion**

+ Data from one type can be converted into another type using <b>conversion operators</b>.
+ Comes in handy when data is not coded in proper format (number coded as string, date coded as string)
+ <b>int(variable)</b> - converts variable to integer 
+ <b>str(variable)</b> - converts variable to string 
+ <b>float(variable)</b> - converts variable to float (number with decimal)

In [18]:
a = 23
print(float(a))
print(str(a))
print(bool(a))

23.0
23
True

## Operators

+ \+ (plus) : Adds two objects 
+ \- (minus) Gives the subtraction of one number from the other; if the first operand is absent it is assumed to be zero.
+ \* (multiply) Gives the multiplication of the two numbers or returns the string repeated that many times.
+ ** (power) Returns x to the power of y
+ / (divide) Divide x by y
+ // (floor division) Returns the floor of the quotient
+ % (modulo) Returns the remainder of the division
+ < (less than) Returns whether x is less than y. All comparison operators return True or False. Note the capitalization of these names.
+ \> (greater than) Returns whether x is greater than y
+ <= (less than or equal to) Returns whether x is less than or equal to y
+ \>= (greater than or equal to) Returns whether x is greater than or equal to y
+ == (equal to) Compares if the objects are equal
+ != (not equal to) Compares if the objects are not equal
+ not (boolean NOT) If x is True, it returns False. If x is False, it returns True.
+ and (boolean AND) x and y returns False if x is False, else it returns evaluation of y
+ or (boolean OR) If x is True, it returns True, else it returns evaluation of y

<h3> Arithmatic Operations

In [22]:
a = 10
b = 7
print(round(a/b,2))
print(a//b) # Floor Division(Quotient)
print(a%b) # Remainder
print(a**b) # Exponential

1.43
1
3
10000000

### Assignment operators

In [23]:
inc = 9
inc += 1 # inc = inc + 1
inc

10

### Comparison operations

In [29]:
a = 5
b = 10/2
print(1, a == b)
print(2, a < b)
print(3, a != b)
print(4, True and False)
print(5, True or False)
print(6, True and not False)

1 True
2 False
3 False
4 False
5 True
6 True

### Logical operators

In [30]:
a = 15
print(1, a>10 and a<20)
print(2,not(a>20 and a<10))

1 True
2 True

## Strings

+ Built-in <b>string class</b> named <b>"str"</b> with many handy features
+ In addition to numerical data processing, Python has very strong string processing capabilities. 
+ <b>Subsets</b> of strings can be taken using the <b>slice operator ( [ ] and [ : ] )</b> with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
+ The plus ( + ) sign is the string concatenation operator and the asterisk ( * ) is the repetition operator.
+ Strings in Python are <b>immutable</b>. Unlike other datasets such as lists, you cannot manipulate individual string values. In order to do so, you have to take subsets of strings and form a new string. 
+ A string can be converted to a numerical type and vice versa (wherever applicable). Many a times, raw data, although numeric, is coded in string format. This feature provides a clean way to make sure all of the data is in numeric form.

### <h> String Operations

In [31]:
cust_name = "Monty Python"

In [32]:
type(cust_name)

str

In [34]:
cust_name

'Monty Python'

In [35]:
name = input("Enter your name:")
print("Welcome", name)

Enter your name:Reena
Welcome Reena

### String concatenation

In [41]:
"Monty111" + "Python"

'Monty111Python'

In [42]:
"Monty1111" + " " + "Python"

'Monty1111 Python'

In [38]:
"HAHAHA" * 25 # Repeat

'HAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHA'

In [39]:
cust_name

'Monty Python'

In [40]:
len(cust_name)   # Function

12

### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [43]:
cust_name.upper()    # method

'MONTY PYTHON'

In [44]:
cust_name

'Monty Python'

In [45]:
cust = "Ravi"

In [46]:
cust_name + cust

'Monty PythonRavi'

In [49]:
cust_name.startswith("M")

True

In [50]:
product = "Reebok Shoes"

In [57]:
product.find("Shoes") > 0

True

In [52]:
product.find("Nike")

-1

In [53]:
"Reebok Shoes".find("Shoes")

7

In [54]:
product1 = "            Reebok Shoe          "

In [55]:
product1.strip()

'Reebok Shoe'

In [56]:
inc = "4%"
inc.rstrip("%")

'4'

### String indexing

- Forward indexing starts with 0
- Reverse indexing start with last character as -1 in a python string
- Strings are immutable which means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [58]:
product = "Reebok Sports Shoes"

In [59]:
product

'Reebok Sports Shoes'

In [60]:
len(product)

19

In [61]:
product[0]

'R'

In [62]:
product[5]

'k'

In [63]:
product[-1]

's'

In [64]:
product[-4]

'h'

### Slicing In Strings
- string[start:end:step]

In [65]:
product

'Reebok Sports Shoes'

In [66]:
product[0:5]    # last index is not included

'Reebo'

In [67]:
product[:5]

'Reebo'

In [68]:
product[5:]

'k Sports Shoes'

In [69]:
product[-4:]

'hoes'

In [70]:
product[0:5:2]

'Reo'

In [71]:
nums = "123456789"
even_num = nums[1::2]
even_num

'2468'

In [72]:
# Membership
string = "John, Did you attend the meeting?"
"John" in string

True

### Poll2

### Q1. Write a Python program to calculate the length of a string. Take string as input from user

### Q2. Print a string 'Pythan's commands are easy'

### Q3. Write a program to take two numbers and an operator (+ or - or * or /) from user as input and compute the operation on the two numbers.